* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





ul,
ol {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;


}


img {
    max-width: 100%;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 3px;
    padding: 1rem;

}





h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    margin: 20px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background-image: url(../images/programacion.jpg);
    background-attachment: fixed;
    background-color: rgb(33, 37, 41);
    padding: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    margin: 4px;
    z-index: 2;

}

img {
    max-width: 100%;
}


/* Header*/


input:focus {
    border: 2px solid white;
    
}


header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.joel-circulo {
    width: 150px;
    border-radius: 50%;
    display: flex;
    background-size: cover;
    padding: 1rem;
    object-fit: cover;


}

.avatar-circulo {
    width: 150px;
    border-radius: 80%;
    display: flex;
    background-size: cover;



}

header h1 {
    border-color: black 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

:root{
    --color-principal: orange;
}


.fondo-compu {
    display: inline-block;
    margin: 15px;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    background-color: none;

}

.fondo-compu:hover {
    background-color: white;
    color: white;
}

.fondo-computadora {
    display: inline-block;
    margin: 15px;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    background-color: #212529;
    border-radius: 20px;

}

.fondo-computadora:hover {
    background-color: #212529;
    



}



.portada {
    resize: both;
    overflow: auto;
    height: 700px;
    background-color: #212529;
    background-image: url(../images/programacion.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-color: black;
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.membresias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 10px
}



.portada-opacity {

    background-image: url(./../images/fondobackgroundimg.jpg);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}






footer {

    background-image: url(../images/programacion.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #212529;
    padding: 1rem;
    color: white;
    margin: 4px;
    text-align: center;








}


footer h3 {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;

}

footer ul li {
    margin-bottom: 0.2rem;
    text-align: center;
    gap: 2rem;

}

@media (min-width: 1200px) {
    .footer-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

@media (min-width: 768px) {
    .footer-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 576px) {
    .footer-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}



p {

    color: rgb(97, 97, 97);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 1.5rem;
    text-align: center;
    gap: 20px;

}

.inicu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 1.5rem;
    text-align: center;
    gap: 20px;

}

.ini {
    margin: 20px;
}



.joel-circuloo {
    display: flex;
    padding: 1rem;
    align-self: center;
    width: 150px;
    border-radius: 50%;
    background-size: cover;

}




.joel-asociados {
    display: flex;
    justify-content: center;
    flex-direction: row;


}

label {
    display: none;
}

.porque {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 50px;

}

.porque-elegir {
    display: grid;

    margin-bottom: 50px;
    text-align: center;
    gap: 50px;








}



.equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    ;
}



.box-model {
    margin: 2%;

    text-align: justify;
    font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
    padding: 1rem
}








/*seccion quienes somos*/
.Joeldegado-quees {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px;
    gap: 1rem;
    padding: 3rem;
    width: 100%;
    height: 100%;


}

.texto-joeldelgado {
    gap: 1rem;
    margin-top: 100px;
}

.doblep {
    display: flex;
    width: 600px;
    height: 100px;


}

.video-somos {
    display: flex;
    max-width: 100%;
    padding: 1rem;
    margin-top: 120px;


    height: 420px;
    width: 420px;

}





.parrafo-somos {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 1.5rem;

}

/*membresias*/


.tarjeta {
    border: 2px solid rgb(114, 113, 113);
    margin: 10px;
    padding-bottom: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 230px;


}

.colora {
    color: #212529;
    display: inline-block;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 2px solid black;

}

.colore {
    border-bottom: 2px #212529 solid;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 20px;


}

.coloru {
    color: aliceblue;
    display: inline-block;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 2px solid black;

}

/*
    min-width---> A partir de una resolución
    max-width---> Hasta una resolución
    
    orientation:portrait | landscape
    */

/* mediaqueri*/



@media (min-width:576px) {
    .porque-elegir {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 100px);
    }

    @media (min-width: 768px) {
        .Joeldegado-quees {
            display: flex;
            width: 100%;
            height: 100%;



        }


        @media (min-width:768px) {
            .porque-elegir {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, 100px);
            }

            @media (min-width: 1200px) {
                .texto-joeldelgado {
                    margin-top: 140px;


                }

                @media (min-width:1200px) {
                    .porque-elegir {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: repeat(4, 100px);
                    }

                    @media (min-width:1400px) {
                        .porque-elegir {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                            grid-template-rows: repeat(4, 100px);
                        }